@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-family: Playfair Display;
    }
}
body{
    height: 100%;
    width: 100%;
    
}
body::-webkit-scrollbar{
    width:0.5rem;
    height: 0.5rem;
}
body::-webkit-scrollbar-thumb{
    background-color: #000;
    margin: 2px;
    padding: 2px;
    border: 2px solid #f6d5f7;
    border-radius: 50vw;
}
body::-webkit-scrollbar-track{
    background-color: hsl(298, 68%, 90%);
}
